<div *ngFor="let show of showList">
    <div class="show-item">
        <img class="show-image" [src]="baseUrl + '/v1/image/view?id=' + show.image_id" alt="">
        <div class="show-info">
            <p>{{show.title}}</p>
            <p>{{show.description}}</p>
            <p>Cast</p>
            <p *ngFor="let actor of show.actors">{{actor.first_name}} {{actor.last_name}}</p>
            <div class="stars-wrap">
                <ngx-star-rating (change)="changeRating($event, show)" class="stars" [id]="show.id" [(ngModel)]="show.rating" [disabled]="false"></ngx-star-rating>
            </div>
        </div>

    </div>
</div>
<button (click)="loadMore()" *ngIf="hasMoreItems">Load more</button>
