<div *ngFor="let movie of showList">
    <div class="show-item">
        <img class="show-image" [src]="baseUrl + '/v1/image/view?id=' + movie.image_id" alt="">
        <div class="show-info">
            <p>{{movie.title}}</p>
            <p>{{movie.description}}</p>
            <p>Cast</p>
            <p *ngFor="let actor of movie.actors">{{actor.first_name}} {{actor.last_name}}</p>
            <div class="stars-wrap">
                <ngx-star-rating (change)="changeRating($event, movie)" class="stars" [(ngModel)]="movie.rating" [disabled]="false"></ngx-star-rating>
            </div>
        </div>

    </div>
</div>
<button (click)="loadMore()" *ngIf="hasMoreItems">Load more</button>
